In [2]:
import pandas as pd
import numpy as np
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')

In [26]:
titanic['first_name'] = titanic['name'].str.split(', ').str.get(1)
titanic['first_name_number'] = titanic['first_name'].str.count(' ')
"počet cestujících s jedním křestním jménem: " + str(titanic['first_name_number'][titanic.first_name_number == 1].sum())

'počet cestujících s jedním křestním jménem: 464'

In [28]:
"číslo člunu, na němž bylo nejvíce (živých) cestujících: " + titanic.groupby('boat').survived.count().argmax()

'číslo člunu, na němž bylo nejvíce (živých) cestujících: 13'